                    <div class="as_login_box active">
                        <form action="post">
                            <div class="form-group">
                                <input type="text" name="" placeholder="Enter email" class="form-control" id="">
                            </div>
                            <div class="form-group">
                                <input type="text" name="" placeholder="Enter password here" class="form-control" id="">
                            </div>
                            <div class="form-group">
                                <div class="as_login_data">
                                    <label>Remember me
                                         <input type="checkbox" name="as_remember_me" value="">
                                         <span class="checkmark"></span>
                                    </label>
                                    <a href="#">Forgot password ?</a>
                                </div>
                            </div>
                            <div class="text-center">
                                <a href="javascript:;" class="as_btn">login</a>
                            </div>
                        </form>
                        <p class="text-center as_margin0 as_padderTop20">Create An Account ? <a href="javascript:;" class="as_orange as_signup">SignUp</a></p>
                    </div>