{% load static %}
                <!-- javascript -->
    <script src='{% static "js/jquery.min.js" %}' ></script>
    <script src='{% static "js/bootstrap.min.js" %}' ></script>
    <script src='{% static "js/plugin/slick/slick.min.js" %}' ></script>
    <script src='{% static "js/plugin/countto/jquery.countTo.js" %}' ></script>
    <script src='{% static "js/plugin/airdatepicker/datepicker.min.js" %}' ></script>
    <script src='{% static "js/plugin/airdatepicker/i18n/datepicker.en.js" %}' ></script>
    <script src='{% static "js/custom.js" %}' ></script>



